name: Build Windows

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build
    runs-on: windows-latest
    steps:

    - uses: actions/checkout@v2

    - name: Configure
      shell: cmd
      run: cmake -DCMAKE_BUILD_TYPE:STRING=RelWithDebInfo -B build -G "Visual Studio 16 2019" -T host=x64 -A x64

    - name: Build
      shell: cmd
      run: cmake --build build --config RelWithDebInfo --target ALL_BUILD
